* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --backgroundColor: #202020;
  --colorOne: white;
  --colorTwo: #9059ff;
}

body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  background: var(--backgroundColor);
  color: var(--colorOne);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  height: 100vh;
}

#sounds {
  height: 0;
}

/* Inspiration from this Codepen article: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewritten {
  color: #fff;
  font-family: "Special Elite", cursive;
  overflow: hidden;
  border-right: 0.2rem solid var(--colorTwo); /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto;
  animation: blink-caret 0.65s step-end infinite;
  font-size: calc(2rem + 1.5vw);
  letter-spacing: 0.25rem;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--colorTwo);
  }
}
